body {
  margin: 0;
  font-family: Arial,sans-serif;
  background-color: #f4f6f8;
}

button {
  padding: 8px 14px;
  border: none;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

input,
textarea,
select {
  padding: 8px;
  width: 300px;
  margin-top: 6px;
}







/* body {
  margin: 0;
  font-family: Arial,sans-serif;
  background-color: #f4f6f8;
}

button {
  padding: 8px 14px;
  border: none;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

input,
textarea,
select {
  padding: 8px;
  width: 300px;
  margin-top: 6px;
} */
